#game-list {
    border-collapse: collapse;
    border: 2px solid white;

    position: fixed;
    top: 5%;
    right: 10%
}

#game-list TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #673AB7; /* Параметры рамки */
    text-align: center; /* Выравнивание по левому краю */
}



#create-game {
        position: relative;
        top: 50px;
        left: 55%;
}

#create-game-btn {
      margin-right: 5px;
}

#game-list {










