#game-list {
    border-collapse: collapse;
    border: 2px solid white;

    position: fixed;
    top: 5%;
    left: 10%
}

#game-list TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #673AB7; /* Параметры рамки */
    text-align: center; /* Выравнивание по левому краю */
}



#create-game {
        position: relative;
        top: 50px;
        left: 35%;
}

#create-game-btn {
      margin-right: 5px;
}

#myGame {
    position: relative;
    top: 50px;
    left: 35%;
}

#myGame table{
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #673AB7; /* Параметры рамки */
    text-align: center; /* Выравнивание по левому краю */
}

.gameSample:hover {
    background: rgba(180, 180, 180, 0.5);
}

.pane:hover {
    background: rgba(180, 180, 180, 0.5);
}










