<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create session</title>
</head>
<body>

<form method="post" action="/">

    <table align="center" cellpadding="5">
        <tr>
            <td colspan="2">Type your nick to continue:</td>
        </tr>
        <tr>
            <td><input name="name" type="text"></td>
            <td align="center">
                <input value="ok" align="right" type="submit">
            </td>
        </tr>
    </table>
</form>

</body>
</html>